* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
main {
  max-width: 320px;
  background-color: hsl(0, 0%, 100%);
  padding: 1rem;
  border-radius: 1rem;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
}

h3 {
  font-size: 1.325rem;
  text-align: center;
  color: hsl(218, 44%, 22%);
  margin: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 1.2;
}

p {
  color: hsl(220, 15%, 55%);
  font-family: 'Roboto', sans-serif;
  margin: 1rem;
  text-align: center;
}
